<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Конфигурационный файл для отладки на Windows / WSL -->

		<!-- 
			Параметры можно указывать в двух форматах:
			
			Для конкретной команды:
		
			<add key="Cli.command_name.parameter_name" value="value">
				command_name - имя команды например list
				parameter_name - имя параметра например pattern
				value - значение
			
			Для любой команды имеющий такой параметр:

			<add key="Cli.*.parameter_name" value="value">
				parameter_name - имя параметра например pattern
				value - значение
			
		-->

		<!--
		   - x field
		   - тип данных [string]
		   - например sample x value
		   - необязательный, значение по умолчанию xxxxxxx
		-->
		<add key="Cli.list.x"
			 value="yyy"/>
		<!--
		   - test value with string type
		   - тип данных [string]
		   - например sample text
		   - необязательный, значение по умолчанию arg0
		-->
		<add key="Cli.list.str-named-arg0"
			 value="arg1[[Cli.list.x]]"/>
		<!--
		   - test value for Int32 with sample
		   - тип данных [int32]
		   - например 123
		   - необязательный, значение по умолчанию 10
		-->
		<add key="Cli.list.int-arg1"
			 value="10"/>
		<!--
		   - test setting within app.config
		   - тип данных [int32]
		   - например 123
		   - необязательный, значение по умолчанию 10
		-->
		<add key="Cli.list.int-setting1"
			 value="10"/>

		<!--
		   - тип данных [string]
		   - необязательный, значение по умолчанию null
		 -->
		<add key="Cli.test1.x"
			 value="Testsecret123"/>
		<!--
		   - тип данных [boolean]
		   - необязательный, значение по умолчанию False
		 -->
		<add key="Cli.test1.my-flag"
			 value="False"/>
		<!--
		   - тип данных перечисление [Enum1], возможные значение: FIRST,SECOND,THIRD,X
		   - необязательный, значение по умолчанию FIRST
		 -->
		<add key="Cli.test1.enum-test"
			 value="first"/>
		<!--
		   - тип данных [int32[]]
		   - оганичено интервалом от 1 до 5
		   - необязательный, значение по умолчанию 1,2,4
		 -->
		<add key="Cli.test1.numbers"
			 value="1,2,4,3"/>
		<add key="Cli.test1.numbers.1"
			value="3"/>
		<add key="Cli.test1.numbers.2"
			value="5"/>
		<!--
		   - массив типа перечисление [enum1[]], возможные значения: FIRST,SECOND,THIRD,X
		   - необязательный, значение по умолчанию FIRST,SECOND,X
		 -->
		<add key="Cli.test1.enums"
			 value="FIRST,SECOND,X"/>
		<!--
		   - тип данных [string[]]
		   - значение ограничено регулярным выражением "\d+"
		   - необязательный, значение по умолчанию 1,2
		 -->
		<add key="Cli.test1.strings"
			 value="1,2,[[Cli.test1.numbers]]"/>
		<!--
		   - тип данных [datetime]
		   - необязательный, значение по умолчанию 02.02.2025 0:00:00
		 -->
		<add key="Cli.test1.start-date-time"
			 value="02.02.2025 0:00:00"/>
		<!--
		   - тип данных [string]
		   - значение ограничено регулярным выражением "\d\d:\d\d:\d\d"
		   - необязательный, значение по умолчанию 00:00:00
		 -->
		<add key="Cli.test1.time-interval"
			 value="00:00:00"/>
				
	</appSettings>

</configuration>