<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- program settings -->

		<!--
		   - Print given arguments
		   - the data type is [boolean]
		   - optional, default value is False
		  -->
		<add key="Cli.print-args"
			 value="False"/>
		<!--
		   - File name to read
		   - the data type is [fileinfo]
		   - is required to provide!
		   - sample value is doc1.xml
		  -->
		<!-- add key="Cli.in-file"
			 value="null"/ -->
		<!--
		   - File name to write
		   - the data type is [fileinfo]
		   - is required to provide!
		   - sample value is doc2.xml
		  -->
		<!-- add key="Cli.out-file"
			 value="null"/ -->
		<!--
		   - The method of removing Signature element
		   - the data type is enum [SignatureRemovingMethod], possible values: None,BySubstringRemoving
		   - optional, default value is BySubstringRemoving
		   - sample value is BySubstringRemoving
		  -->
		<add key="Cli.removing-method"
			 value="None"/>
		<!--
		   - The output file encoding
		   - the data type is [encoding]
		   - optional, default value is System.Text.UTF8Encoding
		  -->
		<add key="Cli.output-file-encoding"
			 value="windows-1251"/>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>