<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Параметры программы -->

		<!--
		- Print given arguments before execution
		- тип данных [boolean]
		- необязательный, значение по умолчанию False
		-->
		<add key="Cli.print-args"
				value="true"/>
		<!--
		- It is a master key
		- тип данных [string]
		- обязательный
		- может быть передан через переменную среды окружения: $MASTER_KEY
		- значение является секретом
		-->
		<add key="Cli.master-key"
				value="abcdefghi123"/>
		<!--
		- File names to check if they are exists
		- тип данных [string]
		- обязательный
		- значение является секретом
		-->
		<add key="Cli.connection-password"
				value="ecrypted"/>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>